
/*t2 CSS exercise */
h1,h2 {
	color:red;
	text-transform: uppercase;
}

figcaption {
	color:darkblue;
}

section {
	font-family: roboto;
	margin-left: 5%;
}
a {
	text-transform: uppercase;
	text-decoration:none;
}
ul {
	list-style-type: none;
}

body {
	background-image: url('../img/circles-dark.png')
}

th {
	text-transform: capitalize ;
}

table {

	max-width: 95%;
	border-style: inset;
	border-width: 3px;

}
table tr {
	border-bottom: 1px solid lightgrey;
}
table tr th {
	background-color: lightblue;
}

.float-item {
	border-style: solid;
	border-width: 3px;
}
