img {
    width: 19%;
    height: 100%;
    padding: 10px;

}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media screen and (min-width: 600px) {
    .flex-container {
        flex-direction: row;
    }
}